.thumbnail {
    width: 120px;
    /* Change to your desired width */
    height: 150px;
    /* Change to your desired height */
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    box-shadow: 0 0px 0px 0px #00000099;
    transition: box-shadow 150ms;
    margin-bottom: 8px;
}

.thumbnail:hover {
    box-shadow: 0 2px 12px 0px #00000099;
}
