/* .topRow>div {
  display: flex;
  align-items: center;
} */

.topRow h1 {
  margin-bottom: 0;
}

.photoOfTheDay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px 40px 10px 40px;
  background-color: white;
}

.photoOfTheDay h3 {
  color: black;
}

.imageHolder {
  position: relative;
  margin-bottom: 30px;
}

.productImage {
  width: 100%;
  height: auto;
}

.addToCart.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .addToCart.desktop {
    display: inline-block;
  }

  .addToCart.mobile {
    display: none;
  }
}