/* Global Styles */
:root {
  --bigger-regular-font-size: 22px;
  --biggest-regular-font-size: 24px;
  --default-gray-text-color: #656565; 
}

.grayText,
.grayText *{
  color: var(--default-gray-text-color);
}

.biggerFontSize {
  font-size: var(--bigger-regular-font-size);
}

.biggestFontSize {
  font-size: var(--biggest-regular-font-size);
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

body {
  font-size: 18px;
}

hr {
    border-top: 3px solid gray;
}

.add-to-card {
    width:100%;
    background-color: black;
    color: white;
    padding: 7px 3px 3px 3px;
    margin-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: var(--bigger-regular-font-size);
}

.jumbotron .add-to-card.desktop {
  max-width: 270px;
}