/* Global Styles */
:root {
  --bigger-regular-font-size: 20px;
  --biggest-regular-font-size: 24px;
  --default-gray-text-color: #656565;
}

.grayText,
.grayText * {
  color: var(--default-gray-text-color);
}

.biggerFontSize {
  font-size: var(--bigger-regular-font-size);
}

.biggestFontSize {
  font-size: var(--biggest-regular-font-size);
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

body {
  font-size: 18px;
}

hr {
  border-top: 3px solid gray;
}

.add-to-card {
  width: 100%;
  background-color: black;
  color: white;
  padding: 7px 3px 3px 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: var(--bigger-regular-font-size);
}

.add-to-card:hover {
  color: orange;
}

.jumbotron .add-to-card.desktop {
  max-width: 270px;
}

button {
  border: 0px;
}

.handCursor {
  cursor: pointer;
}

/* Hide default checkbox */
.styled-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.styled-checkbox input[type="checkbox"],
.styled-checkbox input[type="radio"] {
  display: none;
}

/* Create a custom checkbox */
.styled-checkbox span {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 23px;
  /* adjust size here */
  width: 23px;
  min-width: 23px;
  /* adjust size here */
  background-color: white;
  border: 2px solid black;
  /* adjust border thickness here */
  box-sizing: border-box;
}

/* On mouse-over, add a background color */
.styled-checkbox:hover input:not(:disabled)~span {
  background-color: #ccc;
}

/* When the checkbox is checked */
.styled-checkbox input:checked~span {
  background-color: orange;
  border: 2px solid black;
}

/* The checkmark */
.styled-checkbox span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.styled-checkbox input:checked~span:after {
  display: block;
}

/* Style the checkmark */
.styled-checkbox span:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}