/* Global Styles */

/* CSS variables for font sizes and colors */
:root {
  --small-regular-font-size: 12px;
  --bigger-regular-font-size: 20px;
  --biggest-regular-font-size: 24px;
  --default-gray-text-color: #656565;
}

/* Text color for elements with class "grayText" and its descendants */
.grayText,
.grayText * {
  color: var(--default-gray-text-color);
}

/* Font size class */
.biggerFontSize {
  font-size: var(--bigger-regular-font-size);
}

/* Font size class */
.biggestFontSize {
  font-size: var(--biggest-regular-font-size);
}

/* Heading level 1 */
h1 {
  font-size: 32px;
  font-weight: bold;
}

/* Heading level 2 */
h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Heading level 3 */
h3 {
  font-size: 20px;
  font-weight: bold;
}

/* Body font size */
body {
  font-size: 18px;
}

/* Horizontal rule style */
hr {
  border-top: 3px solid gray;
}

/* Add to cart button style */
.add-to-cart {
  width: 100%;
  background-color: black;
  color: white;
  padding: 7px 3px 5px 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: var(--bigger-regular-font-size);
}

/* Add to cart button style on hover */
.add-to-cart:hover {
  color: orange;
}

/* Add to cart button style for desktop in jumbotron */
.jumbotron .add-to-cart.desktop {
  max-width: 270px;
}

/* Remove default button border */
button {
  border: 0px;
}

/* Cursor style for clickable elements */
.handCursor {
  cursor: pointer;
}

/* Hide default checkbox */
.styled-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

/* Hide default checkbox input */
.styled-checkbox input[type="checkbox"],
.styled-checkbox input[type="radio"] {
  display: none;
}

/* Create a custom checkbox */
.styled-checkbox span {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  min-width: 23px;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
}

/* On mouse-over, add a background color */
.styled-checkbox:hover input:not(:disabled)~span {
  background-color: #ccc;
}

/* When the checkbox is checked */
.styled-checkbox input:checked~span {
  background-color: orange;
  border: 2px solid black;
}

/* The checkmark */
.styled-checkbox span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.styled-checkbox input:checked~span:after {
  display: block;
}

/* Style the checkmark */
.styled-checkbox span:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}