.dropDownContainer {
    display: inline-flex;
    align-items: center;
    position: relative;
    /* Container for the dropdown */
}

.sortText {
    color: grey;
    margin: 0 7px 0 3px;
    /* Styling for the "Sort By" text */
}

.sortButton {
    border: none;
    background: none;
    padding: 5px;
    outline: none;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Styling for the sort button */
}

.arrowIcon {
    height: 28px;
    width: 28px;
    margin-left: 4px;
    /* Styling for the arrow icon */
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100%;
    background: white;
    border-radius: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: max-content;
    /* Styling for the dropdown container */
}

.dropdownItem {
    width: 100%;
    display: block;
    text-align: left;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    /* Styling for the dropdown items */
}

.dropdownItem:hover {
    background: #f1f1f1;
    /* Styling for the dropdown items on hover */
}

.sortButton:hover {
    border: 2px solid gray;
    /* Styling for the sort button on hover */
}

.sortIcon {
    width: 28px;
    height: 28px;
    /* Styling for the sort icon */
}